/*body ja sen elementit*/

body {
    background-color:#212121;
    color:#dbd7d7;
    font-family: sans-serif;
    margin: 0px;
}

header {
    background-color: #313030;
    padding-bottom: 70px;
    text-align: center;
    height: 20px;
    width: 100%;    
}

footer{
    font-size: 18px;
    color: #dbd7d7;
    background-color: #313030;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}

h1{
    color: #dbd7d7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 400%;
}

h2{
    color: #dbd7d7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 225%;
}

p{
    color: #dbd7d7;
    font-family: sans-serif;
    font-size: 120%;
    border: 2px solid #732BF5;
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
}

/*linkit asettelu ja värit*/

a:link{
    color: #dbd7d7;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: #a42bf5;
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

#valittu{
    color: #dbd7d7;
    background-color:rgb(72, 35, 89);
}

/*navigaatio*/

ol{
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    width: fit-content;
    overflow: hidden;
    background-color: #2b2a2a;
    float: right;
    border: 1px solid #732BF5;
}

li{
    float: left;
}

li a {
    display: inline-block;
    height: 15px;
    color: #dbd7d7;
    font-family: sans-serif;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111; 
  }

/*kuvat*/

#paalogo{
    max-width: 283px;
    max-height: 85px;
    border: 1px solid #732BF5;
    position: absolute;
    right: 75%;
    margin-top: 2px;
}

#etusivukuva1{
    max-width: 360px;
    width: 100%;
    display: block;
    border: 2px solid #732BF5;
    margin-left: 20px;
    margin-top: -45%;
    position: absolute;
}

#etusivukuva2{
    max-width: 360px;
    width: 100%;
    vertical-align: middle;
    border: 2px solid #732BF5;
    margin-right: 20px;
    margin-top: -45%;
    position: absolute;
    right: 0%;
}

#korvakoru-kuva{
    max-width: 250px;
    vertical-align: middle;
    border: 2px solid #732BF5;
}

#napakoru-kuva{
    max-width: 250px;
    vertical-align: middle;
    border: 2px solid #732BF5;
}

/*tekstit*/

#textyhteystiedot{
    color: #dbd7d7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 275%;
    text-align: center;
}

#ctateksti{
    text-align: center;
    border: 2px solid #732BF5;
    margin-left: 20%;
    margin-right: 20%;
}

#footerteksti{
    font-style: italic;
    border: 0;
}

.spacing {
    word-spacing: 50px;
}

#tuotesivu-otsikko1{
    text-align: center;
}

.tuotesivu-teksti1{
    text-align: center;
    border: 2px solid #732BF5;
    margin-right: 35%;
    margin-left: 35%;
}

#yhteystietotxt{
    color: #dbd7d7;
    border: 0;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 3.5;
}

#yhteystieto2txt{
    color: #dbd7d7;
    border: 0;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 3.5;
    
}

/*etusivu asettelu*/

.teksti1-container {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    border: 2px solid #732BF5;
    margin-bottom: 10%;
    margin-top: 13%;
    margin-left: auto;
    margin-right: auto;
}

/*tuotesivu asettelu*/

.tuotteet-asettelu{
    text-align: center;
}

.grid-container1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 2px solid #732BF5;
    background-color: #313030;
}

.grid-item {
    background-color: #212121;
    padding: 20px;
    padding-bottom: 150px;
    text-align: center;
    color: #dbd7d7;
    font-size: 24px;
    height: 200px;
    margin-left: 15%;
    margin-right: 15%;
}

.tuoteteksti {
    padding: 10px;
    margin-bottom: 10px;
}

/*Yhteystiedot asettelu*/

.grid-container2 {
    display: grid;
    grid-template-columns: [first] auto [second] 250px [third] 10% [fourth] 250px [fifth] auto;
    grid-template-rows: [row1] 10px [row2] 300px [row3] auto;
    gap: 10px;
}

.item-a {
    background-color: #313030;
    grid-column-start: second;
    grid-column-end: span third;
    grid-row-start: row2;
    grid-row-end: span row3;
    border: 2px solid #732BF5;
    padding: 10px;
    text-align: center;
}

.item-b {
    background-color: #313030;
    grid-column-start: fourth;
    grid-column-end: span fifth;
    grid-row-start: row2;
    grid-row-end: span row3;
    border: 2px solid #732BF5;
    padding: 10px;
    text-align: center;
}

/*mobiili-koko*/
@media screen and (max-width: 600px) {
    header {
        background-color: #313030;
        padding-bottom: 70px;
        text-align: center;
        height: 30px;
        width: 100%;    
    }

    nav a{
        font-size: 15px;
        width: 100px;
        height: 15px;
        padding: 12px;
        margin: 3px 5px;
    }

    ol{
        list-style-type: none;
        margin: 8px;
        padding: 6px;
        width: fit-content;
        overflow: hidden;
        background-color: #2b2a2a;
        float: right;
        border: 1px solid #732BF5;
    }

    li a {
        display: block;
        height: 10px;
        color: #dbd7d7;
        text-align: center;
        padding: 10px 20px;
        margin: 3px 5px;
        text-decoration: none;
    }

    footer{
        flex-direction: column;
        text-align: center;
        bottom: 0%;
        position: fixed;
        width: 100%
    }

    #etusivu {
        background-image: url("background-kuva.jpg");
        background-size: cover;
        height: 620px;
        width: 100%;
    }

    .teksti1-container {
        background-color: #313030;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65%;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
        border: 2px solid #732BF5;
        margin-bottom: auto;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }

    #paalogo{
        display: none;
    }

    #etuotsikko{
        font-size: 55px;
    }

    #ctateksti{
        font-size: 24px;
        margin: auto;
    }

    #etusivukuva1 {
        display: none;
    }

    #etusivukuva2 {
        display: none;
    }

    .tuotesivu-teksti1{
        text-align: center;
        border: 2px solid #732BF5;
        margin-right: 35%;
        margin-left: 35%;
    }

    .grid-container1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 20px;
        width: 80%;
        margin: auto;
        padding: 20px;
        border: 2px solid #732BF5;
        background-color: #313030;
    }

    .grid-container2 {
        display: grid;
        grid-template-columns: [first1] auto [second2] auto [third3] auto [fourth4] auto [fifth5] auto [sixth6] auto;
        grid-template-rows: [rows11] auto [rows22] auto [rows33] auto [rows44] auto [rows55] auto [rows66] auto;
        gap: 10px;
        padding: 10px;
        margin-bottom: 40%;
    }

    .item-a{
        grid-column-start: first1;
        
        grid-row-start: rows11;
        grid-row-end: rows33;
        border: 2px solid #732BF5;
        text-align: center;
    }

    .item-b{
        grid-column-start: first1;
        
        grid-row-start: rows33;
        grid-row-end: span rows55;
        border: 2px solid #732BF5;
        text-align: center;
    }

    
}

/*tabletti-koko*/
@media screen and (min-width: 600px) {
    #etusivu {
        background-image: url("background-kuva.jpg");
        background-size: cover;
        height: 800px;
        width: 100%;
    }

    nav a{
        font-size: 15px;
    }

    #paalogo{
        max-width: 283px;
        max-height: 85px;
        border: 1px solid #732BF5;
        position: absolute;
        left: 1%;
        margin-top: 2px;
    }

    #etusivukuva1{
        max-width: 320px;
        width: 100%;
        max-height: 510px;
        display: block;
        border: 2px solid #732BF5;
        margin-left: 10px;
        margin-top: -38%;
        position: absolute;
        top: 95%;
    }

    #etusivukuva2{
        max-width: 320px;
        width: 100%;
        max-height: 510px;
        vertical-align: middle;
        border: 2px solid #732BF5;
        margin-right: 10px;
        margin-top: -38%;
        position: absolute;
        top: 95%;
        right: 0%;
    }

    .grid-container1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 80%;
        margin: auto;
        margin-bottom: 8%;
        padding: 20px;
        border: 2px solid #732BF5;
        background-color: #313030;
    }
    
    .grid-item {
        background-color: #212121;
        padding: 20px;
        padding-bottom: 150px;
        text-align: center;
        color: #dbd7d7;
        font-size: 24px;
        height: 200px;
        margin-left: 15%;
        margin-right: 15%;
    }

    .grid-container2 {
        display: grid;
        grid-template-columns: [first] auto [second] 250px [third] 10% [fourth] 250px [fifth] auto;
        grid-template-rows: [row1] 10px [row2] 300px [row3] auto;
        gap: 10px;
        margin-bottom: 8%;
    }

    footer{
        flex-direction: column;
        text-align: center;
        background-color: #313030;
        position: fixed;
        bottom: 0%;
        width: 100%;
        max-height: 5%;
    }
}

/*suuri näyttö*/
@media screen and (min-width: 1200px) {
    
    #etusivu {
        background-image: url("background-kuva.jpg");
        background-size: cover;
        height: 800px;
        width: 100%;
    }

    nav a{
        width: 100px;
        height: 20px;
        padding: 10px;
        margin: 5px 20px;
    }

    li a {
        display: block;
        height: 15px;
        color: #dbd7d7;
        text-align: center;
        padding: 15px 25px;
        margin: 5px 15px;
        text-decoration: none;
    }

    .teksti1-container {
        background-color: #212121;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36%;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        border: 2px solid #732BF5;
        margin-bottom: 10%;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        
    }

    #ctateksti{
        text-align: center;
        border: 2px solid #732BF5;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 22px;
    }

    #paalogo{
        max-width: 283px;
        max-height: 85px;
        border: 1px solid #732BF5;
        position: absolute;
        right: 84%;
        margin-top: 2px;
    }

    #etusivukuva1{
        max-width: 360px;
        width: 100%;
        max-height: 550px;
        display: block;
        border: 2px solid #732BF5;
        margin-left: 32px;
        margin-top: -32%;
        position: absolute;
        top: 85%;
    }

    #etusivukuva2{
        max-width: 360px;
        width: 100%;
        max-height: 550px;
        vertical-align: middle;
        border: 2px solid #732BF5;
        margin-right: 32px;
        margin-top: -32%;
        position: absolute;
        top: 85%;
        right: 0%;
    }

    footer{
        text-align: center;
        background-color: #313030;
        position: fixed;
        bottom: 0%;
        width: 100%;
        max-height: 12%;
        font-size: 16px;
    }
}