body {
    background-color:#212121;
    color:#dbd7d7;
    font-family: sans-serif;
}
h1{
    color: #dbd7d7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 375%;
}
h2{
    color: #dbd7d7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 225%;
}
p{
    color: #dbd7d7;
    font-family: sans-serif;
    font-size: 120%;
    border: 2px solid #732BF5;
    padding: 10px;
    margin: 30px;
}