/*body ja sen elementit*/

body {
    background-color:#212121;
    color:#dbd7d7;
    font-family: sans-serif;
    margin: 0px;
}

header {
    background-color: #313030;
    padding-bottom: 70px;
    text-align: center;
    height: 20px;
    width: 100%;    
}

footer{
    font-size: 18px;
    color: #dbd7d7;
    background-color: #313030;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}

h1{
    color: #dbd7d7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 400%;
}

h2{
    color: #dbd7d7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 225%;
}

p{
    color: #dbd7d7;
    font-family: sans-serif;
    font-size: 120%;
    border: 2px solid #732BF5;
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
}

/*linkit asettelu ja värit*/

a:link{
    color: #dbd7d7;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: #a42bf5;
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

#valittu{
    color: #dbd7d7;
    background-color:rgb(72, 35, 89);
}

/*navigaatio*/

ol{
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    width: fit-content;
    overflow: hidden;
    background-color: #2b2a2a;
    float: right;
    border: 1px solid #732BF5;
}

li{
    float: left;
}

li a {
    display: inline-block;
    height: 15px;
    color: #dbd7d7;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111; 
  }

/*kuvat*/

#paalogo{
    max-width: 283px;
    max-height: 85px;
    border: 1px solid #732BF5;
    position: absolute;
    right: 75%;
    margin-top: 2px;
}

#etusivukuva1{
    max-width: 380px;
    vertical-align: middle;
    border: 2px solid #732BF5;
    margin-left: 20px;
    margin-top: 10%;
    position: absolute;
    bottom: -30%;
}

#etusivukuva2{
    max-width: 380px;
    vertical-align: middle;
    border: 2px solid #732BF5;
    margin-right: 20px;
    margin-top: 10%;
    position: absolute;
    bottom: -30%;
    right: 0%;
}

#korvakoru-kuva{
    max-width: 280px;
    vertical-align: middle;
    border: 2px solid #732BF5;
}

#napakoru-kuva{
    max-width: 280px;
    vertical-align: middle;
    border: 2px solid #732BF5;
}

/*tekstit*/

#textyhteystiedot{
    color: #dbd7d7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 275%;
    text-align: center;
}

#ctoteksti{
    text-align: center;
    border: 2px solid #732BF5;
    margin-left: 20%;
    margin-right: 20%;
}

#footerteksti{
    font-style: italic;
    border: 0;
}

.spacing {
    word-spacing: 50px;
}

/*etusivu asettelu*/

.teksti1-container {
    background-color: #212121;
    display: inline-block;
    align-items: center;
    padding-right: 38px;
    padding-left: 38px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    border: 2px solid #732BF5;
    margin-bottom: 10%;
    margin-top: 15%;
    margin-left: 32%;
    
}

/*tuotesivu asettelu*/

.tuotteet-asettelu{
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 2px solid #732BF5;
    background-color: #313030;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    color: #dbd7d7;
    font-size: 24px;
    height: 200px;
    margin-left: 32%;
}

/*suuri näyttö*/
@media screen and (min-width: 1200px) {
    #etusivu {
        background-image: url("background-kuva.jpg");
        background-size: cover;
        height: 800px;
        width: 100%;
    }

    nav a{
        width: 100px;
        height: 20px;
        padding: 10px;
        margin: 5px 20px;
    }

    li a {
        display: block;
        height: 15px;
        color: #dbd7d7;
        text-align: center;
        padding: 15px 25px;
        margin: 5px 15px;
        text-decoration: none;
    }

    footer{
        text-align: center;
        background-color: #313030;
        position: fixed;
        bottom: 0%;
        width: 100%;
        max-height: 12%;
        font-size: 16px;
    }
}

/*mobiili-koko*/
@media (max-width: 600px) {
    header {
        background-color: #313030;
        padding-bottom: 70px;
        text-align: center;
        height: 25px;
        width: 100%;    
    }

    nav a{
        font-size: 15px;
        width: 100px;
        height: 15px;
        padding: 7px;
        margin: 3px 5px;
    }
    li a {
        display: block;
        height: 10px;
        color: #dbd7d7;
        text-align: center;
        padding: 8px 20px;
        margin: 3px 5px;
        text-decoration: none;
    }

    footer{
        flex-direction: column;
        text-align: center;
    }
}

/*tabletti-koko*/
@media screen and (min-width: 600px) {
    #etusivu {
        background-image: url("background-kuva.jpg");
        background-size: cover;
        height: 800px;
        width: 100%;
    }

    nav a{
        font-size: 15px;

    }

    footer{
        flex-direction: column;
        text-align: center;
        background-color: #313030;
        position: fixed;
        bottom: 0%;
        width: 100%;
        max-height: 8%;
    }
}