body {
    background-color:#212121;
    color:#dbd7d7;
    font-family: sans-serif;
}

header {
    background-color: #212121;
    padding-bottom: 70px;
    text-align: right;    
}

h1{
    color: #dbd7d7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 400%;
}

h2{
    color: #dbd7d7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 225%;
}

p{
    color: #dbd7d7;
    font-family: sans-serif;
    font-size: 120%;
    border: 2px solid #732BF5;
    padding: 10px;
    margin: 30px;
}

a:link{
    color: #dbd7d7;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: #b82bf5;
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

#valittu{
    color: #dbd7d7;
    background-color:rgb(72, 35, 89);
}

.spacing {
    word-spacing: 50px;
}

#mainlogo{
    position:absolute;
    bottom: 823px;
    left: 0px;
    width: 300px;
    height: 92px;
}

#mainlogoscroll{
    position:absolute;
    bottom: 823px;
    left: 15px;
    width: 300px;
    height: 92px;
}

#etusivukuva1{
    max-width: 380px;
    vertical-align: middle;
    width: 100%;
    border: 2px solid #732BF5;
    margin-left: 20px;
}

#etusivukuva2{
    max-width: 380px;
    vertical-align: middle;
    width: 100%;
    border: 2px solid #732BF5;
    float: right;
    margin-right: 20px;
}

#textyhteystiedot{
    color: #dbd7d7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 275%;
    text-align: center;
}

#etuotsikko{
    text-align: center;
}

#ctoteksti{
    text-align: center;
    border: 2px solid #732BF5;
    margin-left: 35%;
    margin-right: 35%;
}

ul{
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    width: fit-content;
    overflow: hidden;
    background-color: #313030;
    float: right;
    border: 1px solid #732BF5;
}

li{
    float: left;
}

li a {
    display: block;
    height: 15px;
    color: #dbd7d7;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
    
  }
